In [1]:
import requests
import os
from PIL import Image
import pandas as pd

# Step 1: Import the requests package and store your API KEY.

### - Store Your API Key in a Variable.

In [2]:
API_KEY = "a1dR6AwBIc6Des37OZfu92TqXBXF0c8bk0zdStk4"

# Step 2: Browse the APIs and Select 'APOD'.

### Read the Documentation and Request the APOD
    - Define the APOD endpoint

In [3]:
apod_url = f"https://api.nasa.gov/planetary/apod?api_key={API_KEY}"

In [4]:
# Make the request
response = requests.get(apod_url)
data = response.json()

In [5]:
data

{'copyright': 'Giorgia Hofer',
 'date': '2025-04-03',
 'explanation': "A 26 hour old Moon poses behind the craggy outline of the Italian Dolomites in this twilight mountain and skyscape. The one second long exposure was captured near moonset on March 30. And while only a a sliver of its sunlit surface is visible, most of the Moon's disk can be seen by earthshine as light reflected from a bright planet Earth illuminates the lunar nearside. Also known as the Moon's ashen glow, a description of earthshine in terms of sunlight reflected by Earth's oceans illuminating the Moon's dark surface was written over 500 years ago by Leonardo da Vinci. Of course earthshine is just the most familiar example of planetshine, the faint illumination of the dark portion of a moon by light reflected from its planet.",
 'hdurl': 'https://apod.nasa.gov/apod/image/2504/GHR5997Luna1giornofirmapicc.jpg',
 'media_type': 'image',
 'service_version': 'v1',
 'title': 'The Da Vinci Glow',
 'url': 'https://apod.nasa.gov/apod/image/2504/GHR5997Luna1giornofirmapicc1024.jpg'}

In [6]:
# Display the image URL
print(f"Title: {data["title"]}")
print(f"Date: {data["date"]}")
print(f"URL: {data["url"]}")
print(f"Explanation: {data["explanation"]}")
print(f"Media Type: {data["media_type"]}")

Title: The Da Vinci Glow
Date: 2025-04-03
URL: https://apod.nasa.gov/apod/image/2504/GHR5997Luna1giornofirmapicc1024.jpg
Explanation: A 26 hour old Moon poses behind the craggy outline of the Italian Dolomites in this twilight mountain and skyscape. The one second long exposure was captured near moonset on March 30. And while only a a sliver of its sunlit surface is visible, most of the Moon's disk can be seen by earthshine as light reflected from a bright planet Earth illuminates the lunar nearside. Also known as the Moon's ashen glow, a description of earthshine in terms of sunlight reflected by Earth's oceans illuminating the Moon's dark surface was written over 500 years ago by Leonardo da Vinci. Of course earthshine is just the most familiar example of planetshine, the faint illumination of the dark portion of a moon by light reflected from its planet.
Media Type: image

In [7]:
def download_image(apod_url, date):
    if os.path.isfile(f"{date}.png") == False:
        raw_image = requests.get(apod_url).content
        with open(f"{date}.jpg", "wb") as file:
            file.write(raw_image)      
    else:
        return FileExistsError

# Test the download_image function 
url = data["url"] # Replace with a valid image URL 
date = data["date"] # Example date 

# Call the function 
try: 
    download_image(url, date) 
    print(f"Image downloaded and saved as {date}.jpg") 
except Exception as e:
    print(f"An error occurred: {e}")

Image downloaded and saved as 2025-04-03.jpg

In [9]:
# Open the image file
image_path = "2025-04-03.jpg"  # Replace with your image filename
img = Image.open(image_path)

# Display the image using PIL
img.show()

# Step 3: Store the Asteriod Results in a Pandas DataFrame.

In [10]:
# Replace with your actual API key
api_key = "a1dR6AwBIc6Des37OZfu92TqXBXF0c8bk0zdStk4"

# Define the API endpoint for Near Earth Objects
api_url = f"https://api.nasa.gov/neo/rest/v1/neo/browse?api_key={api_key}"

# Make a request to the API
response2 = requests.get(api_url)

# Check if the request was successful
if response2.status_code == 200:
    # Convert the response to JSON
    data2 = response2.json()

    # Extract asteroid data
    asteroid_list = data2["near_earth_objects"]

    # Preprocess the data
    cleaned_data = []
    for asteroid in asteroid_list:
        if asteroid["close_approach_data"]:
            clean_item = {
                "Asteroid ID": asteroid["id"],
                "Asteroid name": asteroid["name"],
                "Minimal estimated diameter in Kilometre": asteroid["estimated_diameter"]["kilometers"]["estimated_diameter_min"],
                "Absolute_magnitude": asteroid["absolute_magnitude_h"],
                "Relative_velocity(km/s)": asteroid["close_approach_data"][0]["relative_velocity"]["kilometers_per_second"]
            }
        else:
            clean_item = {
                "Asteroid ID": asteroid["id"],
                "Asteroid name": asteroid["name"],
                "Minimal estimated diameter in Kilometre": asteroid["estimated_diameter"]["kilometers"]["estimated_diameter_min"],
                "Absolute_magnitude": asteroid["absolute_magnitude_h"],
                "Relative_velocity(km/s)": None
            }
        cleaned_data.append(clean_item)

    # Create a new DataFrame
    df_cleaned = pd.DataFrame(cleaned_data)

    # Display the cleaned DataFrame
    print(df_cleaned)
else:
    print("Failed to retrieve data from the API")

   Asteroid ID                Asteroid name  \
0      2000433           433 Eros (A898 PA)
1      2000719         719 Albert (A911 TB)
2      2000887         887 Alinda (A918 AA)
3      2001036       1036 Ganymed (A924 UB)
4      2001221         1221 Amor (1932 EA1)
5      2001566        1566 Icarus (1949 MA)
6      2001580       1580 Betulia (1950 KA)
7      2001620    1620 Geographos (1951 RA)
8      2001627          1627 Ivar (1929 SH)
9      2001685          1685 Toro (1948 OA)
10     2001862        1862 Apollo (1932 HA)
11     2001863      1863 Antinous (1948 EA)
12     2001864      1864 Daedalus (1971 FA)
13     2001865      1865 Cerberus (1971 UA)
14     2001866      1866 Sisyphus (1972 XA)
15     2001915  1915 Quetzalcoatl (1953 EA)
16     2001916        1916 Boreas (1953 RA)
17     2001917          1917 Cuyo (1968 AA)
18     2001943       1943 Anteros (1973 EC)
19     2001980  1980 Tezcatlipoca (1950 LA)

    Minimal estimated diameter in Kilometre  Absolute_magnitude  \
0                                 22.006703               10.41
1                                  2.025606               15.59
2                                  4.619075               13.80
3                                 38.775283                9.18
4                                  0.892391               17.37
5                                  1.301832               16.55
6                                  3.094247               14.67
7                                  2.347226               15.27
8                                  7.287104               12.81
9                                  3.703011               14.28
10                                 1.616423               16.08
11                                 2.150577               15.46
12                                 2.848098               14.85
13                                 1.165615               16.79
14                                 8.444131               12.49
15                                 0.560473               18.38
16                                 2.719913               14.95
17                                 3.520100               14.39
18                                 1.934439               15.69
19                                 4.576727               13.82

   Relative_velocity(km/s)
0             5.5786191875
1              3.446029003
2              7.095973305
3             6.3038663193
4            10.7701740589
5            27.0080710025
6            11.3576547063
7            11.7628121919
8             6.5498702281
9            16.1350828383
10           11.6407133456
11           18.0795126569
12           21.1217901586
13           15.3278825687
14           23.0737678682
15            15.120986141
16                    None
17           15.2344898089
18            7.2023034001
19                    None

In [11]:
df_cleaned

,Asteroid ID,Asteroid name,Minimal estimated diameter in Kilometre,Absolute_magnitude,Relative_velocity(km/s)
0,2000433,433 Eros (A898 PA),22.006703,10.41,5.5786191875
1,2000719,719 Albert (A911 TB),2.025606,15.59,3.446029003
2,2000887,887 Alinda (A918 AA),4.619075,13.80,7.095973305
3,2001036,1036 Ganymed (A924 UB),38.775283,9.18,6.3038663193
4,2001221,1221 Amor (1932 EA1),0.892391,17.37,10.7701740589
5,2001566,1566 Icarus (1949 MA),1.301832,16.55,27.0080710025
6,2001580,1580 Betulia (1950 KA),3.094247,14.67,11.3576547063
7,2001620,1620 Geographos (1951 RA),2.347226,15.27,11.7628121919
8,2001627,1627 Ivar (1929 SH),7.287104,12.81,6.5498702281
9,2001685,1685 Toro (1948 OA),3.703011,14.28,16.1350828383
10,2001862,1862 Apollo (1932 HA),1.616423,16.08,11.6407133456
11,2001863,1863 Antinous (1948 EA),2.150577,15.46,18.0795126569
12,2001864,1864 Daedalus (1971 FA),2.848098,14.85,21.1217901586
13,2001865,1865 Cerberus (1971 UA),1.165615,16.79,15.3278825687
14,2001866,1866 Sisyphus (1972 XA),8.444131,12.49,23.0737678682
15,2001915,1915 Quetzalcoatl (1953 EA),0.560473,18.38,15.120986141
16,2001916,1916 Boreas (1953 RA),2.719913,14.95,None
17,2001917,1917 Cuyo (1968 AA),3.520100,14.39,15.2344898089
18,2001943,1943 Anteros (1973 EC),1.934439,15.69,7.2023034001
19,2001980,1980 Tezcatlipoca (1950 LA),4.576727,13.82,None

# Step 4. Try to export the new dataframe into a CSV file and share it with your colleagues.

In [12]:
# Export to CSV
df_cleaned.to_csv("asteroids.csv", index=False)

print("DataFrame exported to 'asteroids.csv'")

DataFrame exported to 'asteroids.csv'